/*******************************************************************************
 * Set References
 
https://scotch.io/tutorials/how-to-build-a-memory-matching-game-in-javascript
https://davidwalsh.name/css-flip

https://sabe.io/tutorials/how-to-create-modal-popup-box

  */


/******************************************************************************
 *  Core style settings for index.html
 */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff url('../img/greyzz.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.hidden i {
  display: none;
}
/*
 * css for using 2X background image on larger displays 
 */
@media 
    (-webkit-min-device-pixel-ratio: 2),
    (min resolution: 192dpi) {
    .img {
        background-image: url('../img/greyzz_@2X.png'); /* 2X Background pattern from Sublte Patterns */
    }
}

.container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    margin: 20px 10px;
}

/******************************************************************************
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #e74c3c 0%, #d6eaf8 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.2em 0 1em;
}

.card {
    height: 125px;
    width: 125px;
    background: #154360;
    font-size: 3.2em;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    backface-visibility: hidden;
    
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    display: flex;
    animation: turnCard;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: 0.75s;
    transform: scale(1.05);
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.matched {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    pointer-events: none;
}

/******************************************************************************
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/******************************************************************************
 * Modal Window
 */

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem, 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/******************************************************************************
 * Animations
 */

/* Basis for animations by https://scotch.io/tutorials/how-to-build-a-memory-matching-game-in-javascript */


@keyframes turnCard {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0.2;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px);
    transform: scale(1.1);
  }
}